pyrogram
Tgcrypto
Pymongo[srv]
Motor==2.5.1
Marshmallow==3.14.1
Umongo==3.0.1
shortzy
Requests
Aiofiles
imdbpy==2021.4.18
googletrans==3.1.0a0 # Google Translater 
gTTS # Google Translater
youtube-dl
ffmpeg
youtube_search
requests
googletrans==3.1.0a0
telegraph
beautifulsoup4
aiohttp==3.7.4
gTTS
googletrans==3.1.0a0
NumPy
glitch_this
opencv-python-headless
youtube-search-python==1.4.6
yt-dlp
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
pypdf2
PyPDF2
pyshorteners
aiofiles
Pillow
humanize
hachoir
pyrogram==2.0.35
TgCrypto
pymongo
dnspython
ujson

